#bg{
    position: fixed;
    width: 1370px;
    height: 633px;
}
body{
    margin: 0 0;
}
#heading{
    color: blue;
    position: absolute;
    top: 95px;
    left: 400px;
    font-size: 50px;
}
#instruction{
    top: 180px;
    left: 470px;
    color: cadetblue;
    position: absolute;
}
#images{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    height: 150px;
    width: 800px;
    left: 290px;
    top: 280px;
    justify-content: space-evenly;
}
#ic{
    border: 5px solid blue;
    transition: transform .5s ease;
}
#hostel{
    border: 5px solid darkcyan;
    transition: transform .5s ease;
}
#tut{
    border: 5px solid blue;
    transition: transform .5s ease;
}
#cafe{
    border: 5px solid darkcyan;
    transition: transform .5s ease;
}
#play{
    position: absolute;
    display: flex;
    color: black;
    left: 270px;
    justify-content: space-evenly;
    height: 40px;
    width: 840px;
    top: 450px;
}
#icplay{
    background-color: blue;
    color: white;
    text-align: center;
    border: solid deepskyblue 4px;
    border-radius: 15px;
    font-size: 25px;
    width: 100px;    
}
#tutplay{
    background-color: blue;
    color: white;
    text-align: center;
    border: solid deepskyblue 4px;
    border-radius: 15px;
    font-size: 25px;
    width: 100px;    
}
#cafeplay{
    background-color: blue;
    color: white;
    text-align: center;
    border: solid deepskyblue 4px;
    border-radius: 15px;
    font-size: 25px;
    width: 100px;    
}
#hostelplay{
    background-color: blue;
    color: white;
    text-align: center;
    border: 4px solid deepskyblue;
    border-radius: 15px;
    font-size: 25px;
    width: 100px;    
}
#ic:hover{
    transform: scale(1.5);
}
#cafe:hover{
    transform: scale(1.5);
}
#hostel:hover{
    transform: scale(1.5);
}
#tut:hover{
    transform: scale(1.5);
}
